<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旦享-日用/衣物</title>
    <link rel="stylesheet" href="../static/css/base.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/common.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/classification.css">
    <link rel="stylesheet" href="../static/css/books.css">
    <link rel="stylesheet" href="../static/css/index.css" charset="UTF-8">
</head>

<body>
    <div class="shortcut">
        <div class="wrapper">
            <ul class="shortcut-links">
                <li><a href="{{ url_for('goodsupload') }}" target="_blank">发布商品</a></li>
                <li><a href="{{ url_for('search') }}" target="_blank">搜索想要</a></li>
                <li><a href="{{ url_for('personal_trade') }}" target="_blank">交易记录</a></li>
                <li><a href="{{ url_for('personal_info') }}" target="_blank">个人资料</a></li>
                <li><a href="{{ url_for('feedback') }}" target="_blank">意见反馈</a></li>
            </ul>
        </div>
    </div>
    <div class="books wrapper">
        <div class="books_head">
            <div>日用分类</div>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="#">
                        <p>洗漱用品<p>
                    </a>
                    <a href="#">脸盆</a>|
                    <a href="#">电吹风</a>|
                    <a href="#">剃须刀</a>|
                    <a href="#">毛巾</a>|
                    <a href="#">护肤品</a>|

                </li>
                <li>
                    <a href="#">
                        <p>家居用品<p>
                    </a>
                    <a href="#">家电家居</a>|
                    <a href="#">室内配饰（壁画）</a>

                </li>

                <li>
                    <a href="#">
                        <p>化妆用品<p>
                    </a>
                    <a href="#">口红</a>|
                    <a href="#">化妆水</a>|
                    <a href="#">洁面乳</a>|
                    <a href="#">粉底</a>|
                    <a href="#">唇笔、眉笔</a>|
                    <a href="#">化妆辅助工具（睫毛夹等）</a>|
                    <a href="#">卸妆水</a>|


                </li>
                <li>
                    <a href="#">
                        <p>床上用品<p>
                    </a>
                    <a href="#">床单</a>|
                    <a href="#">被罩</a>|
                    <a href="#">枕头</a>|
                    <a href="#">被套</a>|
                    <a href="#">棉芯</a>|
                    <a href="#">床垫</a>|
                    <a href="#">抱枕</a>|


                </li>


                <li>
                    <a href="#">
                        <p>衣物<p>
                    </a>
                    <a href="#">裤子</a>|
                    <a href="#">裙子</a>|
                    <a href="#">西装</a>|
                    <a href="#">上衣</a>|
                    <a href="#">外套</a>|

                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="top">
                <ul>
                    <li>
                        <span>价格亲民</span>
                    </li>
                    <li>
                        <span>品质保证</span>
                    </li>
                    <li>
                        <span>校内运输</span>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    <a href="#">关于我们</a>|
                    <a href="#">帮助中心</a>|
                    <a href="#">售后服务</a>|
                    <a href="#">配送与验收</a>|
                    <a href="#">搜索推荐</a>|
                    <a href="#">详细信息</a>|
                </p>
                <p>
                    CopyRight@旦享
                </p>
            </div>
        </div>
    </div>
</body>

</html>