<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旦享-数码</title>
    <link rel="stylesheet" href="../static/css/base.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/common.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/classification.css">
    <link rel="stylesheet" href="../static/css/books.css">
    <link rel="stylesheet" href="../static/css/index.css" charset="UTF-8">
</head>

<body>
    <div class="shortcut">
        <div class="wrapper">
            <ul class="shortcut-links">
                <li><a href="{{ url_for('goodsupload') }}" target="_blank">发布商品</a></li>
                <li><a href="{{ url_for('search') }}" target="_blank">搜索想要</a></li>
                <li><a href="{{ url_for('personal_trade') }}" target="_blank">交易记录</a></li>
                <li><a href="{{ url_for('personal_info') }}" target="_blank">个人资料</a></li>
                <li><a href="{{ url_for('feedback') }}" target="_blank">意见反馈</a></li>
            </ul>
        </div>
    </div>
    <div class="books wrapper">
        <div class="books_head">
            <div>数码产品分类</div>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="#">
                        <p>收音机<p>
                    </a>
                    <a href="shoppingpage.html">四六级收音机</a>|
                    <a href="#">老式收音机</a>|

                </li>
                <li>
                    <a href="#">
                        <p>电脑<p>
                    </a>
                    <a href="#">显示器</a>|
                    <a href="#">键盘</a>|
                    <a href="#">鼠标</a>|
                    <a href="#">主机</a>|
                    <a href="#">U盘</a>|

                </li>

                <li>
                    <a href="#">
                        <p>手机、平板<p>
                    </a>
                    <a href="#">电子笔</a>|
                    <a href="#">键盘</a>|
                    <a href="#">膜</a>|
                    <a href="#">二手手机</a>|
                    <a href="#">二手平板</a>|
                    <a href="#">电池</a>|


                </li>
                <li>
                    <a href="#">
                        <p>相机<p>
                    </a>
                    <a href="#">索尼</a>|
                    <a href="#">佳能</a>|
                    <a href="#">哈苏</a>|
                    <a href="#">飞思</a>|
                    <a href="#">富士</a>|
                    <a href="#">尼康</a>|
                    <a href="#">理光</a>|
                    <a href="#">其他</a>|


                </li>


                <li>
                    <a href="#">
                        <p>衣物<p>
                    </a>
                    <a href="#">裤子</a>|
                    <a href="#">裙子</a>|
                    <a href="#">西装</a>|
                    <a href="#">上衣</a>|
                    <a href="#">外套</a>|

                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="top">
                <ul>
                    <li>
                        <span>价格亲民</span>
                    </li>
                    <li>
                        <span>品质保证</span>
                    </li>
                    <li>
                        <span>校内运输</span>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    <a href="#">关于我们</a>|
                    <a href="#">帮助中心</a>|
                    <a href="#">售后服务</a>|
                    <a href="#">配送与验收</a>|
                    <a href="#">搜索推荐</a>|
                    <a href="#">详细信息</a>|
                </p>
                <p>
                    CopyRight@旦享
                </p>
            </div>
        </div>
    </div>
</body>

</html>