<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message_Board</title>
    <link rel="stylesheet" id="templatecss" type="text/css" href="../static/css/message_board.css">
    <style>
        body {
          background-image: url("../static/images/liz4.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
        }
    </style>

</head>

<body>
         <form action="{{ url_for('feedback') }}" method="post" class="basic-grey">
                 <h1>Contact Form
                     <span>Please fill all the texts in the fields.</span>
                 </h1>
                 <label>
                          <span>Your Name:</span>
                          <input id="name" type="text" name="name" placeholder="昵称" />
                 </label>

                 <label>
                          <span>Contact Choice:</span>
                          <select name="choice">
                                   <option value="邮箱地址">在下个框框中输入有效邮箱地址</option>
                                   <option value="手机号码">在下个框框中输入有效手机号码</option>
                                   <option value="微信号码">在下个框框中输入有效微信号码</option>
                          </select>
                 </label>

                 <label>
                          <span>Contact Way:</span>
                          <input id="contact" type="text" name="contact" placeholder="请输入对应的联系方式" />
                 </label>

                 <label>
                          <span>Message Board:</span>
                          <textarea id="contents" name="contents" placeholder="留言板，请输入想对我说的话"></textarea>
                 </label>

                 <label>
                          <span>&nbsp;</span>
                          <input type="submit" class="button" value="Send" />
                 </label>

         </form>

    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    alert('{{ message }}');
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if "我们已收到您的反馈！" in messages %}
            window.location.href = "/index_after";
        {% endif %}
    </script>

</body>

</html>