<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旦享-食品/跑腿</title>
    <link rel="stylesheet" href="../static/css/base.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/common.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/classification.css">
    <link rel="stylesheet" href="../static/css/books.css">
    <link rel="stylesheet" href="../static/css/index.css" charset="UTF-8">
</head>

<body>
    <div class="shortcut">
        <div class="wrapper">
            <ul class="shortcut-links">
                <li><a href="{{ url_for('goodsupload') }}" target="_blank">发布商品</a></li>
                <li><a href="{{ url_for('search') }}" target="_blank">搜索想要</a></li>
                <li><a href="{{ url_for('personal_trade') }}" target="_blank">交易记录</a></li>
                <li><a href="{{ url_for('personal_info') }}" target="_blank">个人资料</a></li>
                <li><a href="{{ url_for('feedback') }}" target="_blank">意见反馈</a></li>
            </ul>
        </div>
    </div>
    <div class="books wrapper">
        <div class="books_head">
            <div>食品分类</div>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="#">
                        <p>休闲食品<p>
                    </a>
                    <a href="#">糕点</a>|
                    <a href="#">坚果炒货</a>|
                    <a href="#">零食大礼包</a>|
                    <a href="#">饼干/膨化</a>|
                    <a href="#">肉干肉脯</a>|
                    <a href="#">豆干/素食</a>|
                    <a href="#">蜜饯果干</a>|

                </li>
                <li>
                    <a href="#">
                        <p>粮油调味<p>
                    </a>
                    <a href="#">方便食品</a>|
                    <a href="#">速食米饭、火锅</a>|
                    <a href="#">米</a>|
                    <a href="#">调味品</a>|
                    <a href="#">杂粮</a>|

                </li>
                <li>
                    <a href="#">
                        <p>饮料冲调<p>
                    </a>
                    <a href="#">牛奶乳品</a>|
                    <a href="#">冲饮谷物</a>|
                    <a href="#">饮料</a>|
                    <a href="#">咖啡</a>|
                    <a href="#">成人奶粉</a>|
                    <a href="#">饮用水</a>|


                </li>
                <li>
                    <a href="#">
                        <p>面点烘焙<p>
                    </a>
                    <a href="#">面点</a>|
                    <a href="#">水饺、馄饨</a>|
                    <a href="#">其他西点</a>|
                    <a href="#">低温粽子</a>|
                    <a href="#">蛋挞</a>|
                    <a href="#">新鲜蛋糕</a>|


                </li>
                <li>
                    <a href="#">
                        <p>预制菜<p>
                    </a>
                    <a href="#">肉制品</a>|
                    <a href="#">肉禽菜肴</a>|
                    <a href="#">海鲜菜肴</a>|


                </li>

            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="top">
                <ul>
                    <li>
                        <span>价格亲民</span>
                    </li>
                    <li>
                        <span>品质保证</span>
                    </li>
                    <li>
                        <span>校内运输</span>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    <a href="#">关于我们</a>|
                    <a href="#">帮助中心</a>|
                    <a href="#">售后服务</a>|
                    <a href="#">配送与验收</a>|
                    <a href="#">搜索推荐</a>|
                    <a href="#">详细信息</a>|
                </p>
                <p>
                    CopyRight@旦享
                </p>
            </div>
        </div>
    </div>
</body>

</html>