<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="旦享官网，致力于打造服务复旦内部学生的二手物品交易平台">
    <meta name="keywords" content="旦享，书籍，二手，服装，日用">
    <title>旦享-个人信息页</title>
    <link rel="stylesheet" href="../static/css/base.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/common.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/personal_info.css" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/goodsupload.css" charset="UTF-8">
</head>

<body>
    <form method="POST" action="{{ url_for('goodsupload') }}" enctype="multipart/form-data">

    <div class="shortcut">
        <div class="wrapper">
            <ul class="shortcut-links">
                <li><a href="{{ url_for('index_after') }}" target="_blank">回到主页</a></li>
                <li><a href="{{ url_for('search') }}" target="_blank">搜索想要</a></li>
                <li><a href="{{ url_for('personal_trade') }}" target="_blank">交易记录</a></li>
                <li><a href="{{ url_for('personal_info') }}" target="_blank">个人资料</a></li>
                <li><a href="{{ url_for('feedback') }}" target="_blank">意见反馈</a></li>
            </ul>
        </div>
    </div>

        <div class="thehead">
            <h2>发布商品详情信息</h2>
        </div>
        <div class="body">
            <div class="box">
                商品：<input type="text" placeholder="商品名称（完整）" name="goods_name">
            </div>
            <div class="box">
                <label for="type">类别：</label>
                <select id="type" name="type">
                    <option value="书籍">书籍</option>
                    <option value="日用/衣物">日用/衣物</option>
                    <option value="体育">体育</option>
                    <option value="交通">交通</option>
                    <option value="数码">数码</option>
                    <option value="食品/跑腿">食品/跑腿</option>
                    <option value="其它">其它</option>
                </select>
            </div>
            <div class="box">
                价格：<input type="text" name='price' placeholder="商品价格">
            </div>
            <div class="box">
                <label for="campus">校区：</label>
                <select id="campus" name="campus">
                    <option value="张江校区">张江校区</option>
                    <option value="邯郸校区">邯郸校区</option>
                    <option value="枫林校区">枫林校区</option>
                    <option value="江湾校区">江湾校区</option>
                    <option value="其它学校">其它学校</option>
                </select>
            </div>
            <div class="box">
                商品简介：<input type="text" name='brief_intro' placeholder="请简要介绍您的商品，好的简介可以吸引更多买家！"
                                style="width:400px">
            </div>
            <div class="box">
                微信账号：<input type="text" name='wx' placeholder="请准确输入您的微信账号以方便买家联系！"
                                style="width:350px">
            </div>
            <div class="file">
                <div class="file_up" id="fileUpload">
                    您可以点此上传要发售商品的图片
                    <input type="file" multiple name="image" id="name">
                </div>
            </div>
            <div class="line"></div>
            <input type="submit" value="发布商品">
            <input type="reset" value="重置">
        </div>


        <div class="footer">
            <div class="wrapper">
                <div class="top">
                    <ul>
                        <li><span>价格亲民</span></li>
                        <li><span>品质保证</span></li>
                        <li><span>校内运输</span></li>
                    </ul>
                </div>
                <div class="bottom">
                    <p>
                        <a href="#">关于我们</a>|
                        <a href="#">帮助中心</a>|
                        <a href="#">售后服务</a>|
                        <a href="#">配送与验收</a>|
                        <a href="#">搜索推荐</a>|
                        <a href="#">详细信息</a>|
                    </p>
                    <p>
                        CopyRight@旦享
                    </p>
                </div>
            </div>
        </div>
    </form>

    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    alert('{{ message }}');
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if "发布成功！" in messages %}
            window.location.href = "/index_after";
        {% endif %}
    </script>
    <script>
        const uploadInput = document.getElementById('uploadInput');
        const fileUpload = document.getElementById('fileUpload');
        // 监听文件上传输入框的变化
        uploadInput.addEventListener('change', function() {
            // 获取上传的文件列表
            const files = uploadInput.files;
            // 如果有文件被上传
            if (files.length > 0) {
                // 更新显示的内容为第一个文件的文件名
                fileUpload.textContent = '文件名：' + files[0].name;
            } else {
                // 如果没有文件被上传，恢复原始提示
                fileUpload.textContent = '您可以点此上传要发售商品的图片';
            }
        });
    </script>

</body>

</html>